<script type="text/javascript">
  // Reestrutura datats de posts na visualização de blog
  if ( jQuery('html').attr('lang') == 'en' )
    jQuery('.blog-post .date').html(function(pos, txt){
      return txt.replace(
        /^\s*([^ ]{3}).* ([0-9]+), (.+)/,
        '<strong>$2</strong> <span>$1</span> <b>$3</b>'
      );
    });
  if ( jQuery('html').attr('lang') == 'pt' )
    jQuery('.blog-post .date').html(function(pos, txt){
      return txt.replace(
        /([0-9]+) ([^\s]+) ([^\s]{3}).* [^\s]+ ([0-9]+)/,
        '<strong>$1</strong> <span>$2 $3</span> <b>$4</b>'
      );
    });
  // Remove a virgula antes do autor:
  jQuery('.blog-post .author').html(function(pos, txt){
    return txt.replace( /^\s*,/, '' );
  });
  // Move as tags para depois do texto
  jQuery('#article-tags').insertAfter('#article .article-body');
</script>

<script type="text/javascript">
  jQuery('.members-block .profile_link .fn').each(function(pos, el) {
    el.parentNode.title = el.innerHTML
  });
  jQuery('.highlights-block-pager').html(''); //Needed to avoid duplication of links
  if (!jQuery('body').hasClass('action-profile_design-index')) {
    jQuery('.highlights-block').prependTo('#boxes');
  }
  jQuery('.highlights-block .highlights-label').each(function(n, el) {
    var label = jQuery(el);
    if ( label.text() == '' ) return label.remove();
    labelPieces = label.text().split('|');
    label.empty();
    if ( labelPieces.length == 1 ) {
      jQuery('<span></span>').appendTo(label).text(labelPieces[0]);
    } else {
      jQuery('<strong></strong>').appendTo(label).text(labelPieces[0]);
      for ( var i=1; i<labelPieces.length; i++ ) {
        jQuery('<span></span>').appendTo(label).text(labelPieces[i]);
      }
    }
  });
</script>

<%
  if @page && !@page.language.blank?
  root = @page.translation_of.nil? ? @page : @page.translation_of
  translations = root.translations + [root]
%>
<script type="text/javascript">
  jQuery(function($) {
    $('#fisl-languages a').attr('href', function(i,v) { return '<%= "/#{profile.identifier}/" %>' + v; });
    <% translations.each do |t| %>
    $('#fisl-languages .flag-<%= t.language %>').attr('href', '<%= url_for(t.url) %>?lang=<%= t.language %>');
    <% end %>
  });
</script>
<% end %>

<div id="footer-map" class="footer-box">
  <%= theme_include('menu', {:locals => {:menu_id => 'mapsite'}}) %>

  <div id="footer-org">
    <h2>REALIZAÇÃO</h2>
    <a href="http://asl.org.br" id="who-asl" target="_blank"><span>Associação Software Livre Brasil</span></a>
    <div>
      <a href="http://softwarelivre.org" id="who-pslbr" target="_blank"><span>Projeto Software Livre Brasil</span></a>
      <p id="int-risol">Instituição integrante da <a href="http://risol.org" target="_blank">RiSoL - Rede Internacional de Software Livre.</a></p>
    </div>
  </div>

</div><!-- end id="footer-map" -->

<div id="footer-2-border">
  <div id="footer-2">
    <div id="footer-2-content">
      <div class="box1">
        <a href="http://softwarelivre.org/fisl14">14º Fórum Internacional de Software Livre<br />
        3 a 6 de Julho de 2013 Centro de Eventos PUCRS | Porto Alegre | Brasil</a>
      </div>
      <div class="box2">
        <a id="footer-cc" href="http://creativecommons.org/licenses/by-sa/3.0/br/"><span>Creative Commons 3.0 by-sa Brazil</span></a>
        <a id="footer-contato" href="mailto:fisl@asl.org.br">Fale Conosco</a>
        <span>Desenvolvido pela</span>
        <a id="link-colivre" href="http://colivre.coop.br" title="Colivre - Cooperativa de Tecnologias Livres">Colivre</a>
      </div>
    </div>
  </div><!-- Fim de footer-2" -->
</div><!-- Fim de footer-2-border" -->

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://piwik.colivre.coop.br/piwik/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 1]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
    g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="http://piwik.colivre.coop.br/piwik/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
