<div id="theme-header-inner">

<div id="top-menu">
  <%= theme_include('menu', {:locals => {:xmenu_id => 'top-menu'}}) %>

  <div id="fisl-languages">
    <a href="?lang=pt" class="flag-pt" title="Português"><span>Português</span></a>
    <a href="?lang=es" class="flag-es" title="Español"><span>Español</span></a>
    <a href="?lang=en" class="flag-en" title="English"><span>English</span></a>
    <a href="?lang=eo" class="flag-eo" title="Esperanto"><span>Esperanto</span></a>
    <a href="?lang=it" class="flag-it" title="Italiano"><span>Italiano</span></a>
  </div>
</div>

<div id="fisl-info">
  <div id="fisl-info-inner">
    <div id="fisl-data">
      3 a 6 de Julho de 2013
    </div>
    <div id="fisl-local">
      Centro de Eventos PUCRS | Porto Alegre | Brasil
    </div>
  </div>
</div>

<div id="social-box">
  <div>
    <a class="soc-bt feed" href="/fisl14/blog/feed">RSS</a>
    <a class="soc-bt identica" href="http://identi.ca/fisl">Identi.ca</a>
    <a class="soc-bt tweeter" href="http://twitter.com/fisl_oficial">Tweeter</a>
    <a class="soc-bt facebook" href="http://www.facebook.com/fisl.oficial">Facebook</a>
  </div>
</div>

<a id="home" href="/fisl14">Home</a>

<% if logged_in? && profile.admins.include?(user) %>
  <a id="fisl14-admin" class="quick-admin-link" href="/myprofile/fisl14">Admin #fisl14</a>
  <a id="edit-blocks" class="quick-admin-link" href="/myprofile/fisl14/profile_design">Editar blocos</a>
  <a id="upload-image" class="quick-admin-link" href="/myprofile/fisl14/cms/view/1235379">Subir imagem</a>
  <a id="highlight-image" class="quick-admin-link" href="/myprofile/fisl14/cms/view/1241928">Imagem para destaque<br/>(925 X 352px)</a>
  <a id="new-post" class="quick-admin-link" href="/myprofile/fisl14/cms/new?parent_id=521663">Novo post</a>
<% end %>

</div><!-- id="theme-header-inner" -->

<script>
  function registerDocWidth() {
    var body = jQuery(document.body);
    var docW = jQuery(document).width();
    for ( var w=600; w<=2000; w+=50 ) {
      if ( docW < w ) {
        body.removeClass('gt'+w);
        body.addClass('lt'+w);
      } else {
        body.removeClass('lt'+w);
        if ( docW > w ) body.addClass('gt'+w);
      }
    }
  }
  registerDocWidth();
  jQuery(window).resize(registerDocWidth);
</script>

<script>
  // Move os botões da comunidade para o menu de usuário
  jQuery(function($){ $('.profile-info-options').insertBefore('#user > form') });
</script>

<script>
  // renomeia o botão de entrar na comunidade
  jQuery(window).bind('userDataLoaded', function() {
    jQuery('.profile-info-options .icon-add span').text('Eu vou!');
    jQuery('#link_login strong').text('Login');
    jQuery(':lang(pt) #logout strong').text('Logout');
    jQuery('#user .admin-link strong').text('Adm');
    jQuery('#user .icon-menu-ctrl-panel + strong').text('Meu Painel');
    jQuery(':lang(pt) .profile-info-options .leave-community span span').text('Abandonar a comunidade');
    // Move o botão de entrar na comunidade para o bloco de membros
    jQuery('.profile-info-options .icon-add').insertBefore('.members-block .block-footer-content a');
  });
</script>

<div id="toTop">Ir ao Topo</div>
<script>
  jQuery(window).scroll(function() {
	  if(jQuery(this).scrollTop() != 0) jQuery(document.body).addClass('scrolled');
	  else jQuery(document.body).removeClass('scrolled');
  });
  jQuery('#toTop').click(function() {
	  jQuery('body,html').animate({scrollTop:0},800);
  });
</script>

<script src="/designs/themes/fisl14/video-js/video.min.js"></script>
<script src="/designs/themes/fisl14/audio-js/audio.js"></script>

