<ul id="<%= defined?(menu_id) ? menu_id : '' %>">
  <li>
    <a>O Evento</a>
    <ul>
      <li><a href="/fisl14/o-evento/o-fisl">O FISL</a></li>
      <li><a href="http://fisl.org.br/14/greve">Inscrições</a></li>
      <li><a href="/fisl14/o-evento/chamada-de-trabalhos">Chamada de trabalhos </a></li>
      <li><a href="/fisl14/o-evento/caravanas">Caravanas</a></li>
      <li><a href="/fisl14/o-evento/grupos-de-usuarios">Grupos de Usuários</a></li>
      <li><a href="/fisl14/o-evento/info-util">Info Útil</a></li>
      <li><a href="/fisl14/o-evento/patrocine">Patrocine</a></li>
      <li><a href="/fisl14/o-evento/voluntarios">Voluntários</a></li>
      <li><a href="/fisl14/o-evento/sala-de-imprensa">Sala de Imprensa</a></li>
      <li><a href="/fisl14/o-evento/quem-faz-o-fisl">Quem faz o fisl</a></li>
      <li><a href="/fisl14/o-evento/patrocinadores">Patrocinadores</a></li>
      <li><a href="/fisl14/o-evento/material-de-divulgacao">Banners</a></li>
      <li><a href="/fisl14/o-evento/paginas-amigas">Páginas Amigas</a></li>
      <li><a href="/fisl14/o-evento/politica-anti-assedio">Política Anti-Assédio</a></li>
    </ul>
  </li>
  <li>
    <a>Programação</a>
    <ul>
      <li><a href="http://fisl.org.br/14/papers_ng/public/fast_grid?event_id=3" target='_blank'>Palestras</a></li>
      <li><a href="/fisl14/programacao/destaques">Destaques</a></li>
      <li><a href="/fisl14/programacao/palestrantes-convidados">Palestrantes Convidados</a></li>
      <li><a href="/wsl">WSL</a></li>
      <li><a href="/fisl14/programacao/robotica-livre">Robótica Livre</a></li>
      <li><a href="/fisl14/programacao/cultura-livre">Cultura Livre </a></li>
      <li><a href="/fisl14/programacao/rodada-de-negocios">Rodada de Negócios</a></li>
      <li><a href="/fisl14/programacao/encontros-comunitarios">Encontros Comunitários</a></li>
      <li><a href="/fisl14/programacao/oficinas">Oficinas</a></li>
      <li><a href="/fisl14/programacao/educacao">Educação</a></li>
      <li><a href="/fisl14/programacao/projetos-livres">Mostra de Projetos Livres</a></li>
    </ul>
  </li>
  <li>
    <a>Porto Alegre</a>
    <ul>
      <li><a href="/fisl14/porto-alegre/hospedagem">Hospedagem</a></li>
      <li><a href="/fisl14/porto-alegre/como-chegar">Como Chegar</a></li>
      <li><a href="/fisl14/porto-alegre/bares-e-festas">Roteiro de Bares e Festas</a></li>
      <li><a href="/fisl14/porto-alegre/turismo">Turismo</a></li>
    </ul>
  </li>
  <li>
    <a class='certificados' href="http://fisl.org.br/14/greve">Certificados</a>
  </li>
</ul>
