@import url(../profile-base/style.css);
@import url(http://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans:300italic,400italic,600italic,700italic,400,300,700,600);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=latin,latin-ext);
@import url(video-js/video-js.css);
@import url(audio-js/audio-js.css);

html {
  font-family: 'Open Sans', sans-serif, 'Liberation Sans', Arial;
  background: #CCC010; /* Old browsers */
  background: -moz-linear-gradient(top,  #EEE010 10%, #B8B008 70%, #B8B008 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,#EEE010), color-stop(50%,#B8B008), color-stop(100%,#B8B008)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #EEE010 10%,#B8B008 70%,#B8B008 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #EEE010 10%,#B8B008 70%,#B8B008 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #EEE010 10%,#B8B008 70%,#B8B008 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #EEE010 10%,#B8B008 70%,#B8B008 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EEE010', endColorstr='#B8B008',GradientType=0 ); /* IE6-8 */
}

body {
  background: transparent;
  color: #333;
}

#wrap-1 {
  width: 100%;
  position: relative;
}

#wrap-2 {
  width: 100%;
  max-width: 970px;
  min-width: 750px;
  margin: auto;
  padding: 0px;
  border: none;
}

#content {
  border: 20px solid #333;
  border-top: none;
}

#site-title {
  background: url(imgs/logo.png);
  width: 288px;
  height: 129px;
  top: -132px;
  left: 20px;
}
#site-title a {
  width: 288px;
  height: 129px;
}

#theme-header {
  width: 100%;
  max-width: 970px;
  min-width: 750px;
  height: auto;
  background: #FFF;
  margin: auto;
  position: relative;
}
#theme-header-inner {
  padding-top: 70px;
  height: 117px;
  border-left: 20px solid #333;
  border-right: 20px solid #333;
}

#fisl-info {
  position: absolute;
  top: 65px;
  right: 0px;
  overflow: hidden;
  padding: 10px 0px 10px 10px;
  width: 590px;
}
.lt950 #fisl-info {
  padding-top: 8px;
  width: 470px;
}

#fisl-info:before {
  content: url(imgs/sombra.png);
}

#fisl-info-inner {
  position: absolute;
  top: 10px;
  right: -23px;
  width: 500px;
  height: 80px;
  background: #EEE010;
  border-radius: 10px 5px 0px 10px;
  padding: 15px 0 0 100px;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  transform: rotate(2deg);
  font-family: 'Open Sans', sans-serif, 'Liberation Sans', Arial;
  font-size: 36px;
  line-height: 40px;
}
:lang(eo) #fisl-info-inner {
  font-family: 'Roboto Condensed', sans-serif;
  padding-left: 80px;
  right: -5px;
}

.lt950 #fisl-info-inner {
  padding-left: 45px;
  right: auto;
  left: 25px;
}

#fisl-local {
  font-size: 17px;
  line-height: 24px;
}

#profile-header p {
  padding: 0px 20px;
  margin: 5px 0px;
}
#profile-header p:first-child {
  padding-top: 10px;
}

#boxes {
  margin: 0px;
}

.box-1 {
  width: auto;
  margin-right: 310px;
}
.profile-homepage .box-1 {
  margin-top: -5px;
}
.lt950 .box-1 {
  margin-right: 295px;
}

.box-2 {
  width: 270px;
  padding-top: 30px;
}

#main-content-wrapper-1, #main-content-wrapper-2,
#main-content-wrapper-3, #main-content-wrapper-4,
#main-content-wrapper-5, #main-content-wrapper-6,
#main-content-wrapper-7, #main-content-wrapper-8 {
  background: transparent;
}

/* * Menu de Usuário * */

#user {
  position: static;
  height: auto;
  padding: 6px 50px 6px 0px;
  background: #333;
  color: #999;
  z-index: 1;
}
.lt950 #user {
  padding-right: 35px;
}

.lt950 #user .welcome {
  display: none;
}

#user a, #user a strong {
  color: #F0E818;
  text-decoration: none;
  font-weight: normal;
  border: none;
  background-color: transparent;
  padding-right: 0px;
}

#user a span {
  padding: 0px;
}
#user a:hover {
  text-decoration: underline;
}

#home {
  position: absolute;
  top: 200px;
  left: 20px;
  color: #F0E818;
  text-decoration: none;
  z-index: 5;
}
#home:hover {
  text-decoration: underline;
}

#user form {
  display: inline-block;
  position: relative;
  margin: 0px 0px 0px 10px;
  padding: 0px;
}

#user form input {
  border: 0;
  background: #F1E716 url(imgs/lupa.png) 95% 50% no-repeat;
  -webkit-box-shadow: inset 0px 0px 2px 1px #333;
          box-shadow: inset 0px 0px 2px 1px #333;
}

#user form div {
  position: absolute;
  right: -20px;
  white-space: nowrap;
  background: #333;
  color: #CCC;
  border-radius: 4px;
  padding: 0px 5px 1px 5px;
}

#manage-enterprises-link strong {
  display: inline-block;
  width: 0px;
  height: 11px;
  overflow: hidden;
}

.profile-info-options {
  display: inline-block;
  margin: 0px;
  padding: 0px 0px 0px 5px;
}
.profile-info-options ul {
  margin: 0px;
  padding: 0px;
}
.profile-info-options li {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: inline;
}
.profile-info-options .report-abuse-action {
  display: none;
}

#user a#pending-tasks-count {
  background: #FA0;
  text-shadow: 0 0 2px #A60, 0 0 2px #840;
  padding: 1px 3px;
}

#user .icon-menu-login,
#user .icon-menu-admin,
#user .icon-menu-ctrl-panel,
#user .icon-menu-logout,
.profile-info-options .icon-delete,
.profile-info-options .icon-menu-mail {
  background-image: none;
}

#user .or {
  display:none;
}

#user .login:after {
  content: '  |  ';
  color: #F0E818;
}

#controlpanel, #logout, #openchat, #manage-enterprises {
  margin-left: 15px;
}

/* * Internacionalização * */

#fisl-languages {
  position: absolute;
  top: 10px;
  right: 40px;
  padding: 0px;
}
.lt1100 #fisl-languages {
  top: 50px;
  right: 30px;
  opacity: 1;
  transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s linear;
}
.scrolled.lt1100 #fisl-languages {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s linear;
}

#fisl-languages a {
  color: #333;
  text-decoration: none;
  cursor: pointer;
  background-image: center no-repeat;
  display: inline-block;
  height: 24px;
  width: 24px;
  margin-left: 5px;
}

.flag-it { background-image: url(imgs/flags/IT.png) }
.flag-eo { background-image: url(imgs/flags/EO.png) }
.flag-en { background-image: url(imgs/flags/UK.png) }
.flag-es { background-image: url(imgs/flags/ES.png) }
.flag-pt { background-image: url(imgs/flags/BR.png) }
#fisl-languages a span{ display: none }

/* * Redes Sociais * */

#social-box {
  position: fixed;
  top: 0px;
  width: 100%;
  max-width: 970px;
  min-width: 750px;
  z-index: 100;
}

#social-box div {
  position: absolute;
  top: 50px;
  left: -65px;
  border-radius: 10px 0px 0px 10px;
  padding: 5px 10px;
  background: #333;
  z-index: 100;
}

.soc-bt {
  display: block;
  width: 34px;
  height: 34px;
  overflow: hidden;
  margin: 6px 0px;
  background-image: url(imgs/social.png);
  color: transparent;
  opacity: 0.9;
  transition: none 1s ease-in-out;
  transition-property: margin, opacity;
  -webkit-transition: none 1s ease-in-out;
  -webkit-transition-property: margin, opacity;
}
.gt1050.scrolled .soc-bt {
  margin-top: -41px;
  opacity: 0;
  transition: none 0.6s ease-in-out;
  transition-property: margin, opacity;
  -webkit-transition: none 0.6s ease-in-out;
  -webkit-transition-property: margin, opacity;
}
#social-box:hover .soc-bt {
  margin-top: 6px;
  opacity: 0.9;
  transition: none 0.3s ease-in-out;
  transition-property: margin, opacity;
  -webkit-transition: none 0.5s ease-in-out;
  -webkit-transition-property: margin, opacity;
}
.gt1050 .soc-bt:first-child {
  margin-top: 6px;
  opacity: 0.9;
}
.soc-bt:hover {
  opacity: 1;
}

.soc-bt.feed           { background-position: left  0px }
.soc-bt.feed:hover     { background-position: right 0px }
.soc-bt.facebook       { background-position: left  34px }
.soc-bt.facebook:hover { background-position: right 34px }
.soc-bt.tweeter        { background-position: left  82px }
.soc-bt.tweeter:hover  { background-position: right 82px }
.soc-bt.identica       { background-position: left  129px }
.soc-bt.identica:hover { background-position: right 129px }

.lt1100 #social-box div {
  top: 0px;
  left: auto;
  right: 40px;
  border-radius: 0px;
  padding: 5px 5px 4px 5px;
  background: transparent;
  z-index: 100;
}
.lt1100 #social-box .soc-bt {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin: 0px 3px;
  border-radius: 17px;
  background-color: #333;
  opacity: 0.5;
}
.lt1100 #social-box .soc-bt:hover {
  opacity: 1;
}

#article.blog #addThis {
  position: absolute;
  top: 10px;
  right: 0px;
  margin: 0px;
  z-index: 1;
}

#toTop,
.quick-admin-link {
  font-family: 'Fjalla One', sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #F1E716;
  border: 1px solid #F1E716;
  background: #333;
  text-align: center;
  padding: 5px 10px;
  position: fixed;
  z-index: 100;
}
:lang(eo) #toTop,
:lang(eo) .quick-admin-link {
  font-family: 'Roboto Condensed', sans-serif;
}

#toTop {
  border-right: none;
  border-radius: 10px 0px 0px 10px;
  bottom: 10px;
  right: 0px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
}
.scrolled #toTop {
  opacity: 1;
  transition: opacity 3s ease-in-out;
  -webkit-transition: opacity 3s ease-in-out;
}

.quick-admin-link {
  border-left: none;
  border-radius: 0px 8px 8px 0px;
  left: 0px;
  text-decoration: none;
}

.quick-admin-link:hover {
  text-decoration: underline;
}

#fisl14-admin {
  top: 10px;
}

#edit-blocks.quick-admin-link {
  top: 40px;
}
#upload-image.quick-admin-link {
  top: 70px;
}
#highlight-image.quick-admin-link {
  top: 100px;
}
#new-post.quick-admin-link {
  top: 145px;
}

/* * Top-Menu - navegação Horizontal * */

#top-menu {
  position: fixed;
  z-index: 100;
  top: 0px;
  margin-left: -20px;
  width: 100%;
  max-width: 970px;
  min-width: 750px;
}

#top-menu ul {
  height: 46px;
  background-color: #F1E716;
  border-right: 20px solid #7E7808;
  border-left: 20px solid #7E7808;
  margin: 0px 0px 0px -20px;
  padding: 0px;
}

#top-menu li {
  position: relative;
  list-style: none;
  float: left;
}

#top-menu li a {
  font-family: 'Fjalla One', sans-serif;
  text-decoration: none;
  color: #333;
  line-height: 36px;
  font-size: 28px;
  padding: 5px 20px;
  display: block;
  border-right: 1px solid #333;
  cursor: pointer;
}
:lang(eo) #top-menu li a {
  font-family: 'Roboto Condensed', sans-serif;
}

#top-menu li a:active, #top-menu li:hover {
  background-color: #CCC424;
}

#top-menu a.inscricao,
#top-menu a.aovivo,
#top-menu a.certificados {
  color: red;
}

/* * Top-Menu Submenu * */

#top-menu li ul {
  position: absolute;
  left: 0px;
  width: auto;
  height: auto;
  border: none;
  margin: 0px;
  padding: 0 12px 17px 0;
  background: url(imgs/shad-menu.png) no-repeat right bottom;
  opacity: 0;
  visibility: hidden;
}

#top-menu li:hover > ul {
  opacity: 1;
  visibility: visible;
}

#top-menu li ul li {
  float: none;
  background-color:rgba(199, 190, 12, 0.95);
}

#top-menu li ul li a {
  display: block;
  line-height: 20px;
  font-size: 18px;
  border: 0;
  width: 250px;
  padding: 7px 20px;
  text-shadow: 0 0 8px #CCC424, 0 0 8px #CCC424, 0 0 8px #CCC424;
}

#top-menu li ul li:hover {
  background-color: #F1E716;
}

/* * Conteúdo * */

#article {
  font-family: 'Open Sans', sans-serif, 'Liberation Sans', Arial;
  font-size: 13px;
  margin-top: 30px;
}

#article.blog {
  margin-top: 0px;
}

#article-actions {
  position: relative;
  z-index: 5;
}

#article-actions .report-abuse-action,
.profile-homepage #article-tags {
  display: none;
}

#suggest-article-link {
  display: none;
}

#article-tags {
  padding: 0px;
  margin: 0px;
}

#article.blog #article-toolbar {
  position: absolute;
  top: 0px;
}

#content .blog-posts {
  margin-top: 0px;
}

#article.blog #article-header,
#article-parent {
  display: none;
}

.blog-post {
  background: transparent;
  margin: 0 -20px;
  padding-right: 0px;
  position: relative;
}

#article-header,
#content .blog-post .title {
  text-align: left;
  border: none;
}

#content #article-header .title,
#content .blog-post .title a,
#not-found h1,
#access-denied h1 {
  background: #F1E716;
  font-family: 'Fjalla One', sans-serif;
  font-variant: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 40px;
  color: #333;
  border: none;
  display: inline;
  padding: 5px 15px;
  position: relative;
  left: -20px;
  text-decoration: none;
  text-align: left;
}
:lang(eo) #content #article-header .title,
:lang(eo) #content .blog-post .title a,
:lang(eo) #not-found h1,
:lang(eo) #access-denied h1 {
  font-family: 'Roboto Condensed', sans-serif;
}

#content #article-header .title,
#content .blog-post .title a {
  display: inline-block;
  padding: 3px 15px;
}

.gt1100 .blog-post .date {
  font-family: 'Open Sans', sans-serif, 'Liberation Sans', Arial;
  font-style: normal;
  background: #333;
  color: #FFF;
  text-align: left;
  position: absolute;
  top: 20px;
  right: 632px;
  min-width: 55px;
  padding: 7px 7px 10px 7px;
  border-radius: 8px;
  white-space: nowrap;
}

.gt1100 .blog-post .date strong {
  font-size: 28px;
  line-height: 26px;
  float: left;
  padding-right: 4px;
}
.gt1100 .blog-post .date span {
  font-size: 10px;
  line-height: 12px;
}
.gt1100 .blog-post .date b {
  display: block;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
}

.lt1100 .blog-post .date b,
.lt1100 .blog-post .date strong {
  font-weight: normal;
}

.lt1100 .blog-post .date:after {
  content: ',';
}

#content .blog-post .read-more {
  background: #333 url(imgs/arow-readmore.png) right center no-repeat;
  position: absolute;
  right: 0px;
  padding: 2px 10px 2px 0px;
}

#content .blog-post .read-more a {
  color: #F1E716;
  text-decoration: none;
}

#content .blog-post .read-more a:hover {
  text-decoration: underline;
}

.created-at {
  color: #999;
  font-size: 11px;
  font-style: italic;
  padding-top: 20px;
  text-transform: capitalize;
}
#article-header .created-at {
  padding-top: 7px;
}

.comment-count {
  background: url(imgs/bal-comms.gif);
  color: #FFF;
  display: inline-block;
  line-height: 14px;
  width: 25px;
  text-align: center;
}

#article h2, #article h3, #article h4, #article h5, #article h6 {
  font-size: 24px;
  color: #333;
}
#article h3 { font-size: 20px }
#article h4 { font-size: 18px }
#article h5 { font-size: 16px }
#article h6 { font-size: 14px }

#article ul li {
  list-style-type: circle;
  margin: 0 0 10px 40px;
}
#article ol li {
  list-style-type: decimal;
  margin: 0 0 10px 40px;
}

#article td, #article th {
  border: 1px solid #333;
}

#content #comments_list h3 {
  border: none;
  background: #333;
  padding: 2px 20px;
  color: #F0E818;
  font-variant: normal;
}
#comments_list .comment-count {
  background: transparent;
  width: auto;
  color: #F0E818;
}

/* * Paginador * */

.pagination {
  background: #333;
  color: #F0E818;
  padding: 12px 0px;
  margin: 0px -20px;
}

#content #article .pagination .prev_page,
#content #article .pagination .next_page {
  position: static;
  padding: 1px 8px;
  color: #F0E818;
}
.pagination .disabled {
  opacity: 0.5;
}
#article .pagination a.prev_page:hover,
#article .pagination a.next_page:hover {
  text-decoration: underline;
  background: transparent;
}

#article .pagination a {
  color: #F0E818;
  text-decoration: none;
  display: inline-block;
  padding: 1px 6px;
  border-radius: 10px;
}
.pagination a:hover {
  background: #550;
}

.pagination .current {
  font-weight: normal;
  color: #333;
  background: #F0E818;
  display: inline-block;
  padding: 1px 6px;
  border-radius: 10px;
}

/* * Blocos * */

#content .block.highlights-block {
  margin: 10px 0px 0px 0px;
  height: auto;
}

#content .highlights-container {
  width: 100% !important;
  border: none;
}

.highlights-container, .highlights-image-link {
  height: 350px !important;
}

.highlights-label {
  background: rgba(255,255,255,0.8);
  color: #222;
  font-size: 20px;
  top: 155px;
  left: 45px;
  right: auto;
  bottom: auto;
  height: auto;
  max-width: 42%;
  padding: 10px 30px;
  overflow: visible;
}

.highlights-label strong {
  position: absolute;
  top: -90px;
  left: -45px;
  padding: 10px 20px 10px 40px;
  background: rgba(0,0,0,0.7);
  color: #F0E818;
  font-weight: normal;
  font-size: 37px;
}

.highlights-label span {
  display: block;
  margin: 15px 0px;
}

.highlights-block-footer {
  display: none;
}

.highlights-block-pager {
  height: 21px;
  width: 100%;
  padding: 4px 0px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 10;
}

.action-profile_design-index .highlights-block-pager {
  bottom: 36px;
}

.highlights-block-pager:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.highlights-block-pager a {
  height: 21px;
  width: 21px;
  margin: 0px 3px;
  padding: 0px;
  color: transparent;
  background: url(imgs/highlights-pager.png) center center no-repeat;
  display: inline-block;
}

.highlights-block-pager a.activeSlide,
.highlights-block-pager a.activeSlide:visited,
.highlights-block-pager a:visited,
.highlights-block-pager a:hover {
  color: transparent;
  background: url(imgs/highlights-pager-active.png) center center no-repeat;
}

.profile-image-block {
  display: none;
}

#content .block-title,
#content .block-title a {
  background: #333;
  color: #FFF;
  border: none;
  padding: 4px 0px 4px 15px;
  font-family: 'Fjalla One', sans-serif;
  font-variant: normal;
  font-weight: normal;
  font-size: 24px;
}
:lang(eo) #content .block-title a {
  font-family: 'Roboto Condensed', sans-serif;
}

#content .block-title a {
  text-decoration: none;
}

#content .block-title.tv {
  background: #333 url(imgs/block-icons.png) 15px 4px no-repeat;
  padding-left: 50px;
}
#content .block-title.radio {
  background: #333 url(imgs/block-icons.png) 15px -41px no-repeat;
  padding-left: 50px;
}

.block-footer-content {
  text-align: right;
  padding-right: 5px;
}

#content .tags-block .block-footer-content a,
#content .people-block .block-footer-content a,
#content .profile-list-block .block-footer-content a,
#content .enterprises-block .block-footer-content a,
#content .members-block .block-footer-content a,
#content .communities-block .block-footer-content a,
#content .friends-block .block-footer-content a {
  position: static;
}

#content .members-block ul {
  width: auto;
}
#content .members-block .profile_link .fn {
  display: none;
}
#content .members-block .vcard a.profile_link {
  width: 52px;
  height: 52px;
  margin: 0px;
}
#content .members-block .vcard .menu-submenu-trigger {
  height: 12px;
}

.slideshow-block .with-descriptions {
  border: none;
}
.slideshow-block .image-description {
  display: none;
}
.slideshow-block .slideshow-container div {
  height: 200px;
}

.feed-reader-block ul {
  padding-right: 15px;
}

.feed-reader-block .block-footer-content {
  display: none;
}

#content .members-block .block-footer-content a.icon-add {
  background: #333 url(../../icons/tango/Tango/16x16/actions/add.png) no-repeat 3px 50%;
  color: #F0E818;
  margin-right: 30px;
  padding-right: 2px;
}

#content #article .article-body table td img {
  max-width: none;
}

#content #article td,
#content #article th {
  border: 1px solid transparent;
}

/* * Login box * */

#TB_window {
  border: 20px solid #F0D810;
  border-radius: 10px;
}

#TB_window .submit {
  color: #000;
}

/* * Formularios * */

input, textarea, input[type="password"], input[type="text"], input[type="search"]{
  background: #EEE;
  border-radius: 3px;
  padding: 5px;
  -webkit-box-shadow: inset 0px 0px 4px #666;
  box-shadow: inset 0px 0px 4px #666;
  border: none;
}
textarea:hover, input[type="password"]:hover, input[type="text"]:hover, input[type="search"]:hover{
  background-color: #fdfce5;
}
input[type="submit"]{
  background-color: #333;
  color: #FFF;
  box-shadow:inset none;
  -webkit-box-shadow:  0px 0px 3px 1px #666;
  box-shadow:  0px 0px 3px 1px #666;
  cursor: pointer;
}
input[type="submit"]:hover{
  background-color: #434343;
}
form.search_form input[type="search"]{
  border: 0;
  background-color: #F0E818;
  -webkit-box-shadow: inset 0px 0px 2px 1px #333;
  box-shadow: inset 0px 0px 2px 1px #333;
}

/* * Rodapé * */

#theme-footer {
  font-family: 'Open Sans', sans-serif, 'Liberation Sans', Arial;
  width: 100%;
  margin: 0px;
  background: url(imgs/bk-base.png) 50% 80% no-repeat;
  color: #F0E818;
}

#theme-footer a,
#theme-footer a:hover,
#footer-org #int-risol a,
#footer-org #int-risol a:hover {
  color: #F0E818;
}

#footer-map {
  width: 100%;
  max-width: 970px;
  min-width: 750px;
  margin: auto;
  background: #333;
  margin-top: 20px;
  position: relative;
}

#mapsite {
  margin: 0px;
  padding: 0px;
  font-weight: 100;
}

#mapsite li {
  display: inline-block;
  padding: 20px;
  list-style: none;
  vertical-align: top;
  font-size: 18px;
  text-transform: uppercase;
}

#mapsite ul {
  margin: 0px;
  padding: 0px 0px 0px 20px;
}

#mapsite ul li {
  display: block;
  padding: 0px;
  font-size: 14px;
  line-height: 20px;
  text-transform: none;
}

#footer-org {
  position: absolute;
  top: 20px;
  right: 70px;
}
.lt950 #footer-org {
  right: 20px;
}

#footer-org h2 {
  font-weight: 100;
  margin: 0px 0px 30px 0px;
}

#footer-org a,
#footer-org a:hover {
  display: block;
  color: transparent;
  text-decoration: none;
}

#who-asl, #who-pslbr {
  display: block;
  height: 72px;
  width: 85px;
  margin: auto;
}
#who-asl {
  background: url(imgs/iconASL2.png) 50% 50% no-repeat;
  height: 97px;
}
#who-pslbr {
  background-image: url(imgs/iconSLB.png);
  margin-top: 20px;
}

#int-risol {
  font-size: 10px;
  width: 95px;
}

#footer-org #int-risol a:hover {
  text-decoration: underline;
}

#footer-2-border {
  background: #333;
}

#footer-2 {
  width: 100%;
  max-width: 970px;
  min-width: 750px;
  margin: auto;
}

#footer-2-content {
  margin: 0px 20px;
  position: relative;
}

#footer-2 .box1 {
  border-top: 4px solid #F0E818;
  padding: 5px 0px 6px 0px;
  line-height: 15px;
}

#footer-2 .box2 {
  position: absolute;
  top: 8px;
  right: 0px;
  width: 250px;
  white-space: nowrap;
  text-align: right;
  color: #EEE;
}

#theme-footer .box2 a,
#theme-footer .box2 a:hover {
  color: #EEE;
}

#footer-cc {
  background: url(imgs/cc.png);
  display: block;
  width: 88px;
  height: 31px;
  float: left;
}
#theme-footer #footer-cc,
#theme-footer #footer-cc:hover {
  text-decoration: none;
  color: transparent;
}

#footer-contato {
  display: block;
  font-weight: bold;
  font-size: 12px;
}

/* * TV e Rádio SL * */
/*
#content .radio-block .block-title {
  margin: 0px;
}

.media-block .controlsplayer {
  background-color: #333;
  padding: 15px;
}

.radio-block .controlsplayer {
  background-color: #F1E716;
}

.media-block .controlsplayer a {
  margin-right: 15px;
  cursor: pointer;
  height: 27px;
  width: 27px;
  display: inline-block;
}

.media-block .controlsplayer a span {
  display: none;
}


#tv-play {
  background: transparent url(imgs/tv-play.png) no-repeat center;
}
#tv-play.playing {
  opacity: 0.65;
  filter: alpha(opacity=65);
}

#tv-pause {
  background: transparent url(imgs/tv-pause.png) no-repeat center;
  width: 21px;
}

#tv-volum {
  background: transparent url(imgs/tv-volum.png) no-repeat center;
  width: 43px;
}

#radio-play {
  background: transparent url(imgs/radio-play.png) no-repeat center;
}
#radio-play.playing {
  opacity: 0.65;
  filter: alpha(opacity=65);
}

#radio-pause {
  background: transparent url(imgs/radio-pause.png) no-repeat center;
  width: 20px;
}

#radio-volume-up {
  background: transparent url(imgs/radio-volume-up.png) no-repeat center;
  width: 43px;
}
*/

/* * * Rádio SL, via audio.js * * */

#content .radio-block .block-title {
  margin: 0px;
}

#content .media-block .podcast-name {
  margin-top: -12px;
  font-size: 11px;
  font-style: italic;
  text-align: center;
  opacity: 0.85;
}

.ajs-controls {
  background-color: #F0E810;
  height: 25px;
  padding: 15px 0px;
  margin: 0px;
}

.ajs-controls > li {
  background: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  padding: 0px;
  margin: 0px;
  opacity: 0.8;
}

.ajs-controls > li.ajs-progress-control {
  display: none;
}

.ajs-controls > li.ajs-play-control {
  margin: 0px 0px 0px 10px;
  background: url(/designs/themes/fisl14/images/radio-play.png) center no-repeat;
}
.ajs-controls > li.ajs-play-control.ajs-pause {
  background: url(/designs/themes/fisl14/images/radio-pause.png) center no-repeat;
}

.ajs-controls > li.ajs-play-control span {
  display: none;
}

.ajs-controls > li.ajs-time-control {
  right: auto;
  left: 50px;
  color: rgba(0,0,0,0.5);
}

.ajs-controls > li.ajs-volume-control {
  right: 25px;
}

.ajs-volume-control ul {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 55px;
}

.ajs-controls .ajs-volume-control ul li {
  margin: 0px;
  width: 8px;
  height: 100%;
  border: none;
  background: transparent url(imgs/radio-volum-off.png) no-repeat;
  -webkit-transition: background-color 1.5s;
  -moz-transition: background-color 1.5s;
  -ms-transition: background-color 1.5s;
  -o-transition: background-color 1.5s;
  transition: background-color 1.5s;
}
.ajs-controls .ajs-volume-control ul li.ajs-volume-level-on {
  background-image: url(imgs/radio-volum.png);
}
.ajs-controls:hover .ajs-volume-control ul li.ajs-volume-level-on {
  background-color: #FF7;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.ajs-volume-control ul li:nth-child(1) {
  padding-left: 3px;
  background-position:  3px 50%;
  -webkit-border-radius: 10px 0px 0px 10px;
  -moz-border-radius: 10px 0px 0px 10px;
  border-radius: 10px 0px 0px 10px;
}
.ajs-volume-control ul li:nth-child(2) { background-position:  -8px 50% }
.ajs-volume-control ul li:nth-child(3) { background-position: -16px 50% }
.ajs-volume-control ul li:nth-child(4) { background-position: -24px 50% }
.ajs-volume-control ul li:nth-child(5) { background-position: -32px 50% }
.ajs-volume-control ul li:nth-child(6) { background-position: -40px 50% }

/* * * Vídeos HTML5, via video.js * * */

.video-js {
  margin-bottom: 65px;
}

.video-js .vjs-tech {
  position: static;
}

.vjs-poster {
  position: absolute;
  top: 0px;
  left: 0px;
}

.vjs-default-skin .vjs-controls {
  position: relative;
  height: 27px;
  padding: 10px 0px;
  background: #333;
  border: none;
  opacity: 1;
  visibility: visible;
}

.vjs-controls.vjs-fade-out {
  opacity: 1 !important;
  visibility: visible !important;
}

.block .vjs-default-skin .vjs-play-control div {
  width: 27px;
  height: 27px;
  margin: 0px;
}

.vjs-default-skin .vjs-play-control {
  width: auto;
  margin-left: 15px;
}

.vjs-default-skin.vjs-paused .vjs-play-control div {
  background: transparent url(imgs/tv-play.png) no-repeat center;
}

.vjs-default-skin.vjs-playing .vjs-play-control div {
  background: transparent url(imgs/tv-pause.png) no-repeat center;
}

.vjs-default-skin .vjs-mute-control {
  display: none;
}

.vjs-default-skin .vjs-volume-bar {
  background: transparent url(imgs/tv-volum-off.png) no-repeat 0% 50%;
  width: 40px;
  height: 27px;
  margin: 0px;
}

.vjs-default-skin .vjs-volume-level {
  background: transparent url(imgs/tv-volum.png) no-repeat 0% 50%;
  height: 27px;
  margin: 0px;
}

.vjs-default-skin .vjs-volume-handle {
  background: #FD0;
  border: none;
  width: 0px;
  height: 30px;
  opacity: 0;
  transition: opacity 0.5s linear, width 0.4s linear, margin-left 0.4s linear;
}

.vjs-default-skin:hover .vjs-volume-handle {
  margin-left: -4px;
  width: 8px;
  opacity: 0.7;
}

.vjs-default-skin .vjs-fullscreen-control {
  width: auto;
  margin-right: 5px;
}

.vjs-default-skin .vjs-time-controls {
  display: none;
}

.vjs-default-skin div.vjs-progress-control {
  background: #BBB;
  height: 2px;
  position: absolute;
  top: 21px;
  left: 50px;
  right: 85px;
}

.vjs-default-skin .vjs-progress-holder {
  background: transparent;
}

.vjs-default-skin .vjs-progress-holder .vjs-load-progress,
.vjs-default-skin .vjs-progress-holder .vjs-play-progress {
  background: #FFF;
  opacity: 1;
  height: 2px;
}

.vjs-default-skin .vjs-progress-holder .vjs-play-progress {
  background: #FD0;
}

.vjs-default-skin div.vjs-seek-handle {
  margin: 0;
  background: #FFF;
  width: 4px;
  height: 20px;
  margin-top: -9px;
  border-radius: 0;
}

